// @font-face {
// 	font-family: 'hellix';
// 	src: url('../fonts/fatima.eot');
// 	src: local('☺'), url('../fonts/fatima.woff') format('woff'), url('../fonts/fatima.ttf') format('truetype'), url('../fonts/fatima.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,500,600&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }