.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 15px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    &__name {
        font-size: 24px;
        font-weight: 600;
        display: block;
        margin-left: 25px;
    }
}

.header-menu {
    display: flex;
    justify-content: center;
    &__link {
        padding: 5px 15px;
        margin: 0 5px;
    }
}

.fade-enter-active, 
.fade-leave-active {
    transition: opacity .3s ease;
}

.fade-enter, 
.fade-leave-to {
    opacity: 0;
    overflow-y: hidden;
}

@media screen and (max-width: 991px) { 
    .header {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 767px) { 
    .brand {
        &__logo {
            width: 40px;
            height: 40px;
        }
        &__name {
            font-size: 18px;
            margin-left: 15px;
        }
    }
    .header-menu {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        left: 0;
        right: 0;
        top: 0;
        background-color: #dddddd;
        padding: 70px 20px;
        height: 100vh;
        z-index: 4;
        &__item {
            margin: 15px 0;
        }
        &__link {
            font-size: 22px;
        }
    }

    .burger {
        position: relative;
        z-index: 10;
    }
}
